[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
argparse = "*"
pillow = "*"
requests = "*"
wheel = "*"
setuptools = "*"
pip = "*"
gunicorn = "*"
numpy = "*"
sympy = "*"
django-environ = "*"
google-auth = "*"
google-cloud-secret-manager = "*"
django-storages = {extras = ["google"], version = "*"}
uvicorn = "*"
google-cloud-logging = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}
aws-secretsmanager-caching = "*"
botocore = "*"
psycopg2 = "*"
django-bootstrap5 = "*"
python-dotenv = "*"
pydngconverter = "*"
boto3 = "*"
django-debug-toolbar = "*"
django = "*"
django-cors-headers = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.12"

[scripts]
build = "op run --env-file=\"IIPA/.env\" -- sh -c  'echo  \"$SERVICE_ACCOUNT_KEY\" > unformatted_cred.json'  && TAG_NAME=$TAG_NAME docker compose build  && TAG_NAME=$TAG_NAME docker compose up"
