{% extends "imageRater/base.html" %}

{% load django_bootstrap5 %} 


{% block content%}
  <div class="d-flex flex-column align-items-center justify-content-center p-5 rater-form">
  <h1 class="fs-1 mb-3">Intrinsic Image Popularity Assessment</h1>
  <h2 class="fs-2 mb-1">
    Use the form below to upload a photo and find out how popular it'll be on
    instagram
  </h2>


  <form enctype="multipart/form-data" action="/ratings/" method="POST" class="rater-form">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
  </form>

    <p class="m-1">
    This site was made possible by the model found
    <a href="https://github.com/dingkeyan93/Intrinsic-Image-Popularity">here</a>
    <a href="#" class="termly-display-preferences">Consent Preferences</a>
    <a href="/privacy" >Privacy Policy</a>
    
  </p>

 </div>

{% endblock %}
